{% extends 'frontend/base/base.html' %}

{% block title %}Home{% endblock %}

{% block active-home %}active{% endblock %}
{% block aria-home %}aria-current="page"{% endblock %}

{% block content %}
<div>
<h1>Will Watch</h1>

<p>Do you have too many films to watch? Then keep a list save!</p>

<p>Will Watch is an app to list your films you wanna watch and when the day comes to choose one from that.</p>

<p>You can sort them by genre or choose one at random.</p>
</div>

<div>
<form action="{% url 'frontend:signin' %}" method="post">

	{% csrf_token %}
	
	<div>
	<label for="id_username">Username:</label>
	<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
	</div>

	<div>
	<label for="id_password">Password:</label>
	<input type="password" name="password" autocomplete="current-password" required id="id_password">
	</div>

	<button type="submit" class="btn btn-large btn-primary">Sign in</button>

</form>
</div>
{% endblock %}