{% extends 'frontend/base/base.html' %}

{% block title %}New Genre{% endblock %}

{% block active-genres %}active{% endblock %}
{% block aria-genres %}aria-current="page"{% endblock %}

{% block content %}
<h1>New Genre</h1>
<div class="card">
	<form method="post">
		{% csrf_token %}
		<div class="card-body">
			<label for="id_genre_name" class="form-label">Genre name:</label>
			<input type="text" class="form-control" name="genre_name" maxlength="50" required id="id_genre_name">
		</div>

		<div class="card-footer">
			<button type="submit" name="Create" class="btn btn-primary">Create genre</button>
			<a role="button" class="btn btn-secondary" href="{% url 'genres:list' %}">Cancel</a>
		</div>
	</form>
</div>



<script type="text/javascript">
	const btn = document.querySelector('form button')
	const input = document.getElementById('id_genre_name')
	
	btn.addEventListener('click', e=>{
		e.preventDefault()
		input.value = input.value.toLowerCase()
		document.querySelector('form').submit()
	})
</script>
{% endblock %}