{% extends 'frontend/base/base.html' %}

{% block title %}New Genre{% endblock %}

{% block active-genres %}active{% endblock %}
{% block aria-genres %}aria-current="page"{% endblock %}

{% block content %}
<h1>New Genre</h1>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" name="Create">
</form>

<script type="text/javascript">
	const all = document.querySelectorAll('form > input')
	const input = document.getElementById('id_genre_name')
	const btn = all[1]
	
	btn.addEventListener('click', e=>{
		e.preventDefault()
		input.value = input.value.toLowerCase()
		document.querySelector('form').submit()
	})
</script>
{% endblock %}