{% extends 'frontend/base/base.html' %}

{% block title %}Edit "{{ genre.genre_name|capfirst }}"{% endblock %}

{% block active-genres %}active{% endblock %}
{% block aria-genres %}aria-current="page"{% endblock %}

{% block content %}
<h1>Edit "{{ genre.genre_name|capfirst }}"</h1>

<div class="card">
    <form method="post">
    	{% csrf_token %}

        <div class="card-body">
            <label for="id_genre_name" class="form-label">Genre name:</label>
            <input type="text" class="form-control" name="genre_name" value="{{ genre.genre_name|capfirst }}" maxlength="50" required id="id_genre_name">
        </div>
        
        <div class="card-footer">
            <button type="submit" value="Edit" class="btn btn-primary">Save</button>
            <a role="button" class="btn btn-secondary" href="{% url 'genres:list' %}">Cancel</a>
        </div>
    </form>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'genres/lower_input.js' %}"></script>

{% endblock %}