{% extends 'frontend/base/base.html' %}

{% block title %}Delete "{{ genre.genre_name|capfirst }}"{% endblock %}

{% block active-genres %}active{% endblock %}
{% block aria-genres %}aria-current="page"{% endblock %}

{% block content %}
<h1>Are you sure?</h1>

<div class="card">
	<div class="card-body">
		<p class="card-title">Do you want to remove <span class="fw-bold">"{{ genre.genre_name|capfirst }}"</span> from your list?</p>
	</div>
	<div class="card-footer">
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit" name="Confirm" class="btn btn-danger">Remove</button>
			<a role="button" class="btn btn-secondary" href="{% url 'genres:list' %}">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}