{% extends 'frontend/base/base.html' %}

{% block title %}Genre "{{ genre.genre_name|capfirst }}"{% endblock %}

{% block active-genres %}active{% endblock %}
{% block aria-genres %}aria-current="page"{% endblock %}

{% block content %}
<h1>Genre "{{ genre.genre_name|capfirst }}"</h1>
<div class="">
    <a class="btn btn-primary" role="button" href="{% url 'genres:update' genre.id %}">Edit</a>
    <a class="btn btn-danger" role="button" href="{% url 'genres:delete' genre.id %}">Remove</a>
  </div>
{% for film in films %}
<div class="card m-3">
  <div class="card-body">
    <!--
    	Title and Year
	-->
    <p class="card-title h3"><a href="{% url 'films:detail' film.id %}">{{film.title|capfirst}}</a> <span class="fw-lighter">{% if film.year %}{{ film.year }}{% endif %}</span></p>
    <!--
    	Genres of the film
    -->
    <p class="card-subtitle text-muted">{% for genre in film.genre_set.all %}{{ genre|capfirst }}{% if not forloop.last %},{% endif %}
    {% endfor %}</p>
    <!--
    	Description of the film
    -->
    <p class="card-text">{% if film.description %}{{ film.description }}{% endif %}</p>
  </div>
</div>
{% endfor %}

{% for film in films_watched %}
<div class="card m-3">
  <div class="card-header">
  	<i class="bi bi-eye"></i> Watched
  </div>
  <div class="card-body">
    <!--
    	Title and Year
	-->
    <p class="card-title h3"><a href="{% url 'films:detail' film.id %}">{{film.title|capfirst}}</a> <span class="fw-lighter">{% if film.year %}{{ film.year }}{% endif %}</span></p>
    <!--
    	Genres of the film
    -->
    <p class="card-subtitle text-muted">{% for genre in film.genre_set.all %}{{ genre|capfirst }}{% if not forloop.last %},{% endif %}
    {% endfor %}</p>
    <!--
    	Description of the film
    -->
    <p class="card-text">{% if film.description %}{{ film.description }}{% endif %}</p>
  </div>
</div>
{% endfor %}
{% endblock %}