{% extends 'frontend/base/base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="col-md-10 mx-auto col-lg-5">

<h1>Change password</h1>


{% if message %}
<p class="alert alert-{{ type_message }}">{{ message }}</p>
{% endif %}


<form action="{% url 'frontend:change_password' %}" method="post" class="p-4 p-md-5 border rounded-3">	
	{% csrf_token %}

	<div class="mb-3">	
		<label for="id_password">Actual password</label>
		<input class="form-control" type="password" name="password" autocomplete="new-password" required id="id_password">
	</div>

	<div class="mb-3">
		<label for="id_password1">New password:</label>
		<input class="form-control" type="password" name="newpassword1" autocomplete="new-password" required id="id_new_password1">
	</div>

	<div class="mb-3">
		<label for="id_password2">New password confirmation:</label>
		<input class="form-control" type="password" name="newpassword2" autocomplete="new-password" required id="id_new_password2">
	</div>

	<button type="submit" class="w-100 btn btn-large btn-primary" name="action" value="password">Save</button>

	
</form>

</div>
{% endblock %}