{% extends 'frontend/base/base.html' %}

{% block title %}{{ film.title|capfirst }}{% endblock %}

{% block active-films %}active{% endblock %}
{% block aria-films %}aria-current="page"{% endblock %}

{% block content %}
<h1>{{ film.title|capfirst }}</h1>

<p class="h3">Genre</p>
	<ul>
	{% for genre in genres %}
		<li>{{ genre.genre_name|capfirst }}</li>
	{% endfor %}
	</ul>

<p class="h3">Year</p>
	<p>{{ film.year }}</p>

<p class="h3">Description</p>
	<p>{{ film.description }}</p>

<p class="h3">Watched</p>
	{% if film.watched %}
	<p>Done!</p>
	{% else %}
	<p>Not yet</p>
	{% endif %}


{% if film.watched %}
<a href="#">Not watched...</a>
{% else %}
<a href="#">Watched!</a>
{% endif %}

<a href="#">Edit</a>
<a href="#">Delete</a>

{% endblock %}