{% extends 'frontend/base/base.html' %}

{% block title %}{{ film.title|capfirst }}{% endblock %}

{% block active-films %}active{% endblock %}
{% block aria-films %}aria-current="page"{% endblock %}

{% block content %}
<h1>{{ film.title|capfirst }}</h1>

<p class="h3">Genre</p>
	<ul>
	{% for genre in genres %}
		<li>{{ genre.genre_name|capfirst }}</li>
	{% endfor %}
	</ul>

<p class="h3">Year</p>
	<p>{{ film.year }}</p>

<p class="h3">Description</p>
	<p>{{ film.description }}</p>

<p class="h3">Watched</p>
	{% if film.watched %}
	<p>Done!</p>
	{% else %}
	<p>Not yet</p>
	{% endif %}



<a href="{% url 'films:watched' film.id %}">{% if film.watched %}Not watched...{% else %}Watched!{% endif %}</a>
<a href="{% url 'films:update' film.id %}">Edit</a>
<a href="{% url 'films:delete' film.id %}">Delete</a>

{% endblock %}