{% extends 'frontend/base/base.html' %}

{% block title %}My Films{% endblock %}

{% block active-films %}active{% endblock %}
{% block aria-films %}aria-current="page"{% endblock %}

{% block content %}
<h1>My Films</h1>

<p class="h4">Genres</p>
<ul>
{% for genre in genres_list %}
	<li><a href="{% url 'genres:detail' genre.id %}">{{genre.genre_name|capfirst}}</a></li>
{% endfor %}
</ul>

<h2>Will Watch</h2>
<div class="card m-3">
	<div class="card-body">
		<p class="card-title h3">
			<a href="{% url 'films:new' %}"><i class="bi bi-plus-circle"></i>Add a new film!</a>
		</p>
	</div>
</div>
{% for film in will_watch_film_list %}
<div class="card m-3">
  <div class="card-body">
    <!--
    	Title and Year
	-->
    <p class="card-title h3"><a href="{% url 'films:detail' film.id %}">{{film.title|capfirst}}</a> <span class="fw-lighter">{% if film.year %}{{ film.year }}{% endif %}</span></p>
    <!--
    	Genres of the film
    -->
    <p class="card-subtitle text-muted">{% for genre in film.genre_set.all %}{{ genre|capfirst }}{% if not forloop.last %},{% endif %}
    {% endfor %}</p>
    <!--
    	Description of the film
    -->
    <p class="card-text">{% if film.description %}{{ film.description }}{% endif %}</p>
  </div>
  <!--
  		Buttons
  -->
  <div class="card-footer">
	<a href="{% url 'films:watched' film.id %}">Whatched!</a>
	<a href="{% url 'films:update' film.id %}">Edit</a>
	<a href="{% url 'films:delete' film.id %}">Remove</a>
  </div>
</div>
{% endfor %}

<h2>Watched</h2>
{% for film in watched_film_list %}
<div class="card m-3">
  <div class="card-body">
    <!--
    	Title and Year
	-->
    <p class="card-title h3"><a href="{% url 'films:detail' film.id %}">{{film.title|capfirst}}</a> <span class="fw-lighter">{% if film.year %}{{ film.year }}{% endif %}</span></p>
    <!--
    	Genres of the film
    -->
    <p class="card-subtitle text-muted">{% for genre in film.genre_set.all %}{{ genre|capfirst }}{% if not forloop.last %},{% endif %}
    {% endfor %}</p>
    <!--
    	Description of the film
    -->
    <p class="card-text">{% if film.description %}{{ film.description }}{% endif %}</p>
  </div>
  <!--
  		Buttons
  -->
  <div class="card-footer">
	<a href="{% url 'films:watched' film.id %}">Not watched yet...</a>
	<a href="{% url 'films:update' film.id %}">Edit</a>
	<a href="{% url 'films:delete' film.id %}">Remove</a>
  </div>
</div>
{% endfor %}

{% endblock %}