{% extends 'frontend/base/base.html' %}

{% block title %}My Films{% endblock %}

{% block active-films %}active{% endblock %}
{% block aria-films %}aria-current="page"{% endblock %}

{% block content %}
<h1>List Films</h1>

<h3>Genres</h3>
<ul>
{% for genre in genres_list %}
	<li>{{genre.genre_name|capfirst}}</li>
{% endfor %}
</ul>

<h2>Will Watch</h2>
<ul>
{% for film in will_watch_film_list %}
	<li><a href="{% url 'films:detail' film.id %}">{{film.title}}</a></li>
{% endfor %}
</ul>

<h2>Watched</h2>
<ul>
{% for film in watched_film_list %}
	<li><a href="{% url 'films:detail' film.id %}">{{film.title}}</a></li>
{% endfor %}
</ul>
{% endblock %}