<h1>New Film</h1>

<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
	<label for="title">Title: </label><input id="title" type="text" name="title" maxlength="100" minlength="3" required>
	<br>
	<label>Genre: </label>
		{% for genre in genres_list %}
			<input type="checkbox" name="genre" value="{{ genre.id }}" id="genre{{ foorloop.counter }}"><label for="genre{{ foorloop.counter }}">{{ genre.genre_name }}</label>
		{% endfor %}
	<br>
	<label for="year">Year: </label><input id="year" type="number" name="year" min="1900" max="2050">
	<br>
	<label for="description">Description: </label><textarea id="description" name="description" maxlength="500"></textarea>
	<br>
	<input type="submit">
</form>